<header class="bg-gray-800 text-[var(--text-color-blue-blanco)] p-4 flex justify-between items-center">
  <div class="flex items-center space-x-2">
    <img src="assets/logo-developers-sharks.png" alt="Logo" class="h-8 w-8" />
    <span class="text-[var(--text-color-blue-blanco)] font-bold">Developers Sharks</span>
  </div>
  <div class="flex items-center space-x-4">
    <label class="inline-flex items-center cursor-pointer">
      <input
        type="checkbox"
        value=""
        class="sr-only peer"
        (click)="toggleDarkMode()"
        [checked]="isDarkMode()"
      />
      <div
        class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-purple-300
        dark:peer-focus:ring-purple-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full
        rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute
        after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full
        after:h-5 after:w-5 after:transition-all
        dark:border-gray-600 peer-checked:bg-purple-600 dark:peer-checked:bg-purple-600"
      ></div>
    </label>

    <div class="relative flex items-center">
      <button (click)="collapsed.set(!collapsed())" class="text-[var(--text-color-blue-blanco)]">
        <i class="fa fa-bars"></i>
      </button>
      <div
        *ngIf="collapsed()"
        [@expandContractMenu]
        class="absolute right-0 top-8 bg-gray-800 p-4 rounded shadow-md"
      >
        <a class="block py-2 px-4 hover:bg-gray-700" routerLink="/profile"
          >Perfil</a
        >
        <a class="block py-2 px-4 hover:bg-gray-700" routerLink="/settings"
          >Configuración</a
        >
        <a class="block py-2 px-4 hover:bg-gray-700" routerLink="/logout"
          >Salir</a
        >
      </div>
    </div>
  </div>
</header>
