
<nav class="bg-gray-800 text-[var(--text-color-blue-blanco)] p-4 min-h-screen flex flex-col sm:flex-row transition-all duration-300 ease-in-out">
  <button (click)="collapsed.set(!collapsed())" class="text-[var(--text-color-blue-blanco)] ml-2 md:text-sm md:text-gray-500 hover:bg-gray-700 rounded-md p-2">
    <i class="fa fa-bars"></i>
  </button>
  <nav *ngIf="!collapsed()" [@expandContractMenu] class="sm:w-1/4 sm:border-r sm:border-gray-700 transition-all duration-300 ease-in-out">
    <a class="flex items-center py-2 px-4 rounded-md hover:bg-gray-700 transition-all duration-150 ease-in-out" routerLink="/crear-pacientes" [ngClass]="{ 'bg-gray-600': isActive('/crear-pacientes') }">
      <i class="fa fa-tachometer-alt fa-fw mr-2"></i>
      Crear paciente con historial
    </a>
    <a class="flex items-center py-2 px-4 rounded-md hover:bg-gray-700 transition-all duration-150 ease-in-out" routerLink="/lista-pacientes" [ngClass]="{ 'bg-gray-600': isActive('/lista-pacientes') }">
      <i class="fa fa-users fa-fw mr-2"></i>
      Historia clínica
    </a>
    <a class="flex items-center py-2 px-4 rounded-md hover:bg-gray-700 transition-all duration-150 ease-in-out" routerLink="/crear-historial" [ngClass]="{ 'bg-gray-600': isActive('/crear-historial') }">
      <i class="fa fa-toggle-on fa-fw mr-2"></i>
      Crear receta
    </a>
    <a class="flex items-center py-2 px-4 rounded-md hover:bg-gray-700 transition-all duration-150 ease-in-out" routerLink="/lista-historial" [ngClass]="{ 'bg-gray-600': isActive('/lista-historial') }">
      <i class="fa fa-file-alt fa-fw mr-2"></i>
      Lista de recetas
    </a>

    <a class="flex items-center py-2 px-4 rounded-md cursor-pointer hover:bg-gray-700 transition-all duration-150 ease-in-out" (click)="logout()">
      <i class="fa fa-sign-in-alt fa-fw mr-2"></i>
      Cerrar sesión
    </a>
  </nav>
  <div class="sm:w-full p-4">
    <router-outlet ></router-outlet>
  </div>
</nav>
