<div class="bg-gray-600 rounded-md shadow-md p-4 mb-4">
  <h2 class="text-xl font-bold">Crear receta</h2>
</div>

<form class="space-y-4 mb-4" [formGroup]="dataForm()" (ngSubmit)="onSubmit()">
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    <div class="relative flex items-center">
        <label
          for="nombre"
          class="block text-[var(--text-color-blue-blanco)] text-md font-bold mb-2 mr-2"
          >Nombre</label
        >
      <input
        type="text"
        id="idpaciente"
        class="shadow border-gray-600 appearance-none border rounded w-full py-2 px-3 text-[var(--text-color-blue-blanco)] leading-tight focus:outline-none focus:border-indigo-500 focus:shadow-outline"
        placeholder="Nombre del paciente"
        name="idpaciente"
        formControlName="idpaciente"
        readonly
        required
      />
      <button
      (click)="openModal()"
      class="bg-purple-600 hover:bg-purple-700 transition-all duration-200 rounded-md px-4 py-2 text-white font-semibold ml-2"
      type="button"
      >
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
    <!-- <select
  name="idpaciente"
  formControlName="idpaciente"
  class="shadow bg-gray-600 border-gray-600 appearance-none border rounded w-full py-2 px-3 text-[var(--text-color-blue-blanco)] leading-tight focus:outline-none focus:border-indigo-500 focus:shadow-outline"
>
  <option value="" disabled selected>Seleccione un paciente</option>
  <option [value]="item.idpaciente" *ngFor="let item of pacientes()">
    {{ item.nompaciente }}
  </option>
</select> -->
<div
    *ngIf="dataForm().controls.idpaciente.touched && dataForm().controls.idpaciente.errors?.['required']"
    class="text-red-500 text-sm mt-2"
  >
  El paciente es requerido
</div>
  </div>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    <div>
      <label
        for="peso"
        class="block text-[var(--text-color-blue-blanco)] text-lg font-bold mb-2"
        >Peso</label
      >
      <input
        type="text"
        id="peso"
        class="shadow border-gray-600 appearance-none border rounded w-full py-2 px-3 text-[var(--text-color-blue-blanco)] leading-tight focus:outline-none focus:border-indigo-500 focus:shadow-outline"
        placeholder="Ingrese su peso"
        name="pesohistorial"
        formControlName="pesohistorial"
      />
      <div
        *ngIf="dataForm().controls.pesohistorial.touched && dataForm().controls.pesohistorial.errors?.['required']"
        class="text-red-500 text-sm mt-2"
      >
        El peso es requerido
      </div>
    </div>
    <div>
      <label
        for="talla"
        class="block text-[var(--text-color-blue-blanco)] text-lg font-bold mb-2"
        >Talla</label
      >
      <input
        type="text"
        id="talla"
        class="shadow border-gray-600 appearance-none border rounded w-full py-2 px-3 text-[var(--text-color-blue-blanco)] leading-tight focus:outline-none focus:border-indigo-500 focus:shadow-outline"
        placeholder="Ingrese su talla"
        name="tallahistorial"
        formControlName="tallahistorial"
      />
      <div
        *ngIf="dataForm().controls.tallahistorial.touched && dataForm().controls.tallahistorial.errors?.['required']"
        class="text-red-500 text-sm mt-2"
      >
        La talla es requerida
      </div>
    </div>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    <div>
      <label
        for="frecuencia"
        class="block text-[var(--text-color-blue-blanco)] text-lg font-bold mb-2"
        >Fc</label
      >
      <input
        type="text"
        id="frecuencia"
        class="shadow border-gray-600 appearance-none border rounded w-full py-2 px-3 text-[var(--text-color-blue-blanco)] leading-tight focus:outline-none focus:border-indigo-500 focus:shadow-outline"
        placeholder="Ingrese su frecuencia cardiaca"
        name="fchistorial"
        formControlName="fchistorial"
      />

    </div>
    <div>
      <label
        for="frecuenciarespiratoria"
        class="block text-[var(--text-color-blue-blanco)] text-lg font-bold mb-2"
        >Fr</label
      >
      <input
        id="frecuenciarespiratoria"
        type="text"
        class="shadow border-gray-600 appearance-none border rounded w-full py-2 px-3 text-[var(--text-color-blue-blanco)] leading-tight focus:outline-none focus:border-indigo-500 focus:shadow-outline"
        placeholder="Ingrese la frecuencia respiratoria"
        name="frhistorial"
        formControlName="frhistorial"
      />
    </div>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    <div>
      <label
        for="tensionarterial"
        class="block text-[var(--text-color-blue-blanco)] text-lg font-bold mb-2"
        >Ta</label
      >
      <input
        type="text"
        id="tensionarterial"
        class="shadow border-gray-600 appearance-none border rounded w-full py-2 px-3 text-[var(--text-color-blue-blanco)] leading-tight focus:outline-none focus:border-indigo-500 focus:shadow-outline"
        placeholder="Ingrese la tension arterial"
        name="tahistorial"
        formControlName="tahistorial"
      />
    </div>
    <div>
      <label
        for="spo"
        class="block text-[var(--text-color-blue-blanco)] text-lg font-bold mb-2"
        >Spo2</label
      >
      <input
        id="spo"
        type="text"
        class="shadow border-gray-600 appearance-none border rounded w-full py-2 px-3 text-[var(--text-color-blue-blanco)] leading-tight focus:outline-none focus:border-indigo-500 focus:shadow-outline"
        placeholder="Ingrese la saturación de presion de oxigeno"
        name="spohistorial"
        formControlName="spohistorial"
      />
    </div>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    <div>
      <label
        for="alergias"
        class="block text-[var(--text-color-blue-blanco)] text-lg font-bold mb-2"
        >Alergias</label
      >
      <input
        type="text"
        id="alergias"
        class="shadow border-gray-600 appearance-none border rounded w-full py-2 px-3 text-[var(--text-color-blue-blanco)] leading-tight focus:outline-none focus:border-indigo-500 focus:shadow-outline"
        placeholder="Ingresar alergias"
        name="alergiashistorial"
        formControlName="alergiashistorial"
      />
    </div>
    <div>
      <label
        for="cita"
        class="block text-[var(--text-color-blue-blanco)] text-lg font-bold mb-2"
        >Cita</label
      >
      <input
        id="cita"
        type="text"
        class="shadow border-gray-600 appearance-none border rounded w-full py-2 px-3 text-[var(--text-color-blue-blanco)] leading-tight focus:outline-none focus:border-indigo-500 focus:shadow-outline"
        placeholder="Ingrese la próxima cita"
        name="citahistorial"
        formControlName="citahistorial"
      />
      <!-- <div
      *ngIf="dataForm().controls.citahistorial.touched && dataForm().controls.citahistorial.errors?.['required']"
      class="text-red-500 text-sm mt-2">La dirección es requerida</div> -->
    </div>
  </div>
  <div class="grid w-full">
    <div>
      <label
        for="diagnostico"
        class="block text-[var(--text-color-blue-blanco)] text-lg font-bold mb-2"
        >Diagnóstico</label
      >
      <textarea
        id="diagnostico"
        class="shadow border-gray-600 appearance-none border rounded w-full py-2 px-3 text-[var(--text-color-blue-blanco)] leading-tight focus:outline-none focus:border-indigo-500 focus:shadow-outline"
        placeholder="Ingrese el diagnostico"
        name="diagnostico"
        formControlName="diagnostico"
      ></textarea>
      <div
      *ngIf="dataForm().controls.diagnostico.touched && dataForm().controls.diagnostico.errors?.['required']"
      class="text-red-500 text-sm mt-2">El diagnóstico es requerido</div>
    </div>
  </div>

  <div>
    <label
      for="recipeImage"
      class="block text-[var(--text-color-blue-blanco)] text-lg font-bold mb-2"
      >Recipe Image</label
    >
    <input
      type="file"
      id="recipeImage"
      class="shadow border-gray-600 appearance-none border rounded w-full py-2 px-3 text-[var(--text-color-blue-blanco)] leading-tight focus:outline-none focus:border-indigo-500 focus:shadow-outline"
      accept="image/*"
      (change)="onFileSelected($event)"
    />
  </div>

  <button
    type="submit"
    class="bg-purple-600 hover:bg-purple-700 transition-all duration-200 rounded-md px-4 py-2 text-white font-semibold"
  >
    Crear receta
  </button>
</form>

<div
  *ngIf="showConfirmationModal()"
  class="fixed inset-0 flex items-center justify-center p-4"
>
  <div class="bg-gray-700 rounded-lg shadow-lg w-full max-w-md p-6">
    <h2 class="text-xl font-bold mb-4">
      Estás seguro de crear este historial?
    </h2>
    <div class="flex justify-end space-x-4">
      <button
        class="bg-gray-600 hover:bg-gray-800 text-white font-bold py-2 px-4 rounden focus:outline-none focus:shadow-outline"
        (click)="cancelCreateHistorial()"
      >
        Cancelar
      </button>
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounden focus:outline-none focus:shadow-outline"
        (click)="confirmCreateHistorial()"
      >
        Aceptar
      </button>
    </div>
  </div>
</div>

<div *ngIf="showModal" class="fixed inset-0 z-50 overflow-auto bg-gray-900 bg-opacity-50 flex">
  <div class="relative p-8 bg-gray-700 w-full max-w-md m-auto flex-col flex rounded-lg">
    <h3 class="text-2xl font-bold text-white mb-4">Buscar Paciente</h3>
    <input type="text" class="bg-blue-50 border border-blue-300 text-blue-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 mb-2" placeholder="Buscar..." [(ngModel)]="searchText" (ngModelChange)="filterPacientes()">

    <ul class="overflow-y-auto max-h-60">
      <li *ngFor="let item of filteredPacientesList()" (click)="selectPatient(item)" class="py-2 px-4 hover:bg-gray-600 cursor-pointer text-white">
        {{ item.nompaciente }}
      </li>
    </ul>
    <button (click)="closeModal()" class="absolute top-2 right-2 text-gray-400 hover:text-white">
      <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
  </div>
</div>
