<div class="bg-gray-600 rounded-md shadow-md p-4 mb-4">
  <h2 class="text-xl font-bold">Crear paciente</h2>
</div>

<form class="space-y-4 mb-4" [formGroup]="dataForm()" (ngSubmit)="onSubmit()">
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    <div>
      <label
        for="nombre"
        class="block text-[var(--text-color-blue-blanco)] text-lg font-bold mb-2"
        >Nombre</label
      >
      <input
        type="text"
        id="nombre"
        class="shadow border-gray-600 appearance-none border rounded w-full py-2 px-3 text-[var(--text-color-blue-blanco)] leading-tight focus:outline-none focus:border-indigo-500 focus:shadow-outline"
        placeholder="Ingrese su nombre"
        formControlName="nompaciente"
        name="nompaciente"
      />
      <div *ngIf="dataForm().controls.nompaciente.touched && dataForm().controls.nompaciente.errors?.['required']"  class="text-red-500 text-sm mt-2">El nombre es requerido</div>
    </div>
    <div>
      <label
        for="edad"
        class="block text-[var(--text-color-blue-blanco)] text-lg font-bold mb-2"
        >Edad</label
      >
      <input
        type="number"
        id="edad"
        class="shadow border-gray-600 appearance-none border rounded w-full py-2 px-3 text-[var(--text-color-blue-blanco)] leading-tight focus:outline-none focus:border-indigo-500 focus:shadow-outline"
        placeholder="Ingrese su edad"
        formControlName="edadpaciente"
        name="edadpaciente"
      />
      <div *ngIf="dataForm().controls.edadpaciente.touched && dataForm().controls.edadpaciente.errors?.['required']"  class="text-red-500 text-sm mt-2">La edad es requerida</div>
    </div>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    <div>
      <label
        for="telefono"
        class="block text-[var(--text-color-blue-blanco)] text-lg font-bold mb-2"
        >Teléfono</label
      >
      <input
        type="tel"
        id="telefono"
        class="shadow border-gray-600 appearance-none border rounded w-full py-2 px-3 text-[var(--text-color-blue-blanco)] leading-tight focus:outline-none focus:border-indigo-500 focus:shadow-outline"
        placeholder="Ingrese su teléfono"
        formControlName="telpaciente"
        name="telpaciente"
      />
      <div *ngIf="dataForm().controls.telpaciente.touched && dataForm().controls.telpaciente.errors?.['required']"  class="text-red-500 text-sm mt-2">El teléfono es requerido</div>
    </div>
    <div>
      <label
        for="direccion"
        class="block text-[var(--text-color-blue-blanco)] text-lg font-bold mb-2"
        >Dirección</label
      >
      <input
        id="direccion"
        type="text"
        class="shadow border-gray-600 appearance-none border rounded w-full py-2 px-3 text-[var(--text-color-blue-blanco)] leading-tight focus:outline-none focus:border-indigo-500 focus:shadow-outline"
        placeholder="Ingrese su dirección"
        formControlName="dirpaciente"
        name="dirpaciente"
      />
      <div *ngIf="dataForm().controls.dirpaciente.touched && dataForm().controls.dirpaciente.errors?.['required']"  class="text-red-500 text-sm mt-2">La dirección es requerida</div>
    </div>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4"></div>

  <button
    type="submit"
    class="bg-purple-600 hover:bg-purple-700 transition-all duration-200 rounded-md px-4 py-2 text-white font-semibold"
  >
    Crear paciente
  </button>
</form>

<div *ngIf="showConfirmationModal()" class="fixed inset-0 flex items-center justify-center p-4">
  <div class="bg-gray-700 rounded-lg shadow-lg w-full max-w-md p-6">
    <h2 class="text-xl font-bold mb-4">Estás seguro de crear este paciente?</h2>
    <div class=" flex justify-end space-x-4">
      <button class="bg-gray-600 hover:bg-gray-800 text-white font-bold py-2 px-4 rounden focus:outline-none focus:shadow-outline"
       (click)="cancelCreatePaciente()"
      >
        Cancelar
      </button>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounden focus:outline-none focus:shadow-outline"
       (click)="confirmCreatePaciente()"
      >
        Aceptar
      </button>
    </div>
  </div>
 </div>
